.row {
    display: flex;
    align-items: center;
}

img.cardSubsPic {
    width: 125%;
}

.card-body.p-5 {
    box-shadow: 1px 2px 2px 1px black;
    border: 1px solid #eee;
}

@media screen and (max-width: 425px) {
    img.cardSubsPic {
        width: -webkit-fill-available;
    }
    ;
}

@media screen and (max-width: 400px) {
    img.cardSubsPic {
        width: -webkit-fill-available;
    }
    ;
}

@media screen and (max-width: 380px) {
    img.cardSubsPic {
        width: -webkit-fill-available;
    }
    ;
}

@media screen and (max-width: 375px) {
    img.cardSubsPic {
        width: -webkit-fill-available;
    }
    ;
}

@media screen and (max-width: 320px) {
    img.cardSubsPic {
        width: -webkit-fill-available;
    }
    ;
}