@media screen and (max-width: 768px) {
  #BottomNavList .nav-list li a {
    font-size: 20px !important;
    margin-right: 0px;
  }
  .bottom-nav ul li {
    list-style: none;
    display: inline;
    margin: 10px 10px 0px 0px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 425px) {
  #BottomNavList .nav-list li a {
    font-size: 10px !important;
    margin-right: 0px;
  }
  .bottom-nav ul li {
    list-style: none;
    display: inline;
    margin: 10px 10px 0px 0px;
    margin-right: 7px;
  }
}

@media screen and (max-width: 330px) {
  #BottomNavList .nav-list li a {
    font-size: 8px !important;
    margin-right: 0px;
  }
  .bottom-nav ul li {
    list-style: none;
    display: inline;
    margin: 10px 10px 0px 0px;
    margin-right: 8px;
  }
}