.sd-txt h2 {
  font-size: 3.3em;
  font-weight: bold;
  padding-top: 27px;
}

.sd-txt p {
  font-size: 20px;
  color: purple;
  margin: 48px 0px 4em 0em;
}

.sd-btn a {
  font-size: 27px;
}

@media screen and (max-width: 1024px) {
  .sd-txt {
    margin-top: 0px;
  }
  .sd-txt h2 {
    font-size: 2.5em;
  }
  .sd-txt p {
    font-size: 22px;
    margin: 87px 0px 0em 0em;
  }
  .sd-btn a {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .sd-txt {
    margin-top: 0px;
  }
  .sd-txt h2 {
    font-size: 29px;
  }
  .sd-txt p {
    font-size: 18px;
    margin: 61px 0px 0em 0em;
  }
  .sd-btn a {
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  .sd-txt {
    margin-top: 0px;
  }
  .sd-txt h2 {
    font-size: 15px;
  }
  .sd-in {
    margin-top: 0px;
  }
  .sd-txt h2 {
    padding-top: 0px;
    font-size: 17px;
  }
  .sd-txt p {
    font-size: 12px;
    margin: 26px 0px 0em 0em;
  }
  .sd-btn a {
    font-size: 14px;
    padding: 12px 30px 12px 30px;
  }
  .sd-btn {
    margin-top: 16px;
  }
}

@media screen and (max-width: 385px) {
  .sd-txt {
    margin-top: 0px;
  }
  .sd-txt h2 {
    padding-top: 0px;
    font-size: 15px;
  }
  .sd-in {
    margin-top: 0px;
  }
  .sd-txt h2 {
    padding-top: 0px;
    font-size: 17px;
  }
  .sd-txt p {
    font-size: 11px;
    margin: 8px 0px 0em 0em;
  }
  .sd-btn a {
    font-size: 14px;
    padding: 12px 20px 12px 20px;
  }
  .sd-btn {
    margin-top: 15px;
  }
}

@media screen and (max-width: 320px) {
  .sd-txt {
    margin-top: 0px;
  }
  .sd-in {
    margin-top: 0px;
  }
  .sd-txt h2 {
    padding-top: 0px;
    font-size: 14px;
    line-height: 14px;
  }
  .sd-txt p {
    font-size: 11px;
    margin: 8px 0px 0em 0em;
  }
  .sd-btn a {
    font-size: 11px;
    padding: 10px 20px 10px 20px;
  }
  .sd-btn {
    margin-top: 15px;
  }
}
