@media screen and (max-width: 768px) {
    .text-center h2 {
        font-size: 40px;
        margin-top: 35px;
    }
}

@media screen and (max-width: 425px) {
    .text-center h2 {
        font-size: 30px;
        margin-top: 35px;
    }
}
@media screen and (max-width: 375px) {
    .text-center h2 {
        font-size: 25px;
        margin-top: 35px;
    }
}
@media screen and (max-width: 320px) {
    .text-center h2 {
        font-size: 21px;
        margin-top: 35px;
    }
}